@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');

/* @layer base {
  :root {
    --font-sans: var(--font-inter), var(--font-noto-sans-jp), sans-serif;
  }
} */

/* :root {
  --font-sans: var(--font-inter), var(--font-noto-sans-jp), sans-serif;
} */

:root {
  --font-sans: 'Inter', 'Noto Sans JP', sans-serif;
}

body {
  /* font-family: var(--font-sans); */
  font-family: 'Noto Sans JP', 'Inter', sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  line-height: 1.6;
  font-size: 18px;
  background-color: #ebdfd6;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
